body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: cornsilk !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
main {
  min-height: 100vh;
  max-width: 1000px ;
  margin: 0 auto;
}
.serach{
  text-align: center;
}
.upper {
 width: 600ox;
  text-align: center;
}
input {
  width: 60%;
  height: 40px;
  padding: 0.1em 0.95em;
  font-size: 20px;
  box-sizing: border-box;
  display: inline-block;
  margin:20px ;
  border: 1px solid black;
}
input:focus {
  background: rgb(233, 165, 165);
  border: none;
}
.submit {
  padding: 0.75em 0.85em;
  font-size: 15px;
  border: none;
  border-radius: 0.25em;
  background-color: blueviolet;
  transition: 0.3s ease-in;
  margin: 0 5px;
}
.submit:hover {
   transform: rotate(35deg) ;
}

.simple-keyboard {
  max-width: 850px;
  margin:50px auto;
}

.history{
  text-align: center;
  max-width: 50%;
  margin: 20px auto;
}
ul {
  list-style: none;
}
li {
  padding: 10px;
  margin: 5px 0;
  background: black;
  color: #fff;
}
.pagination {
  margin-top: 30px;
  justify-content: center;
}
.overview {
  height: 200px;
  overflow: hidden;
}